trigger:
  branches:
    include:
    - main
stages:
- stage: __default
  jobs:
  - job: Job
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '18.x'
      displayName: 'Install Node.js'
    - task: CmdLine@2
      displayName: 'npm install and build'
      inputs:
        script: |
          cd frontend/
          npm install --legacy-peer-deps --global-style
          npm run build --loglevel verbose
          echo "---------------------------"
          echo $(System.DefaultWorkingDirectory)
    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: 'frontend/'
        includeRootFolder: true
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        replaceExistingArchive: true
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: '$(Build.BuildId).zip'
        publishLocation: 'Container'
    - task: Docker@2
      inputs:
        script:
        containerRegistry: 'DockerVG'
        repository: 'gonzalobordas/frontend'
        command: 'buildAndPush'
        buildContext: 'frontend/'
        Dockerfile: 'Dockerfiles/frontend.Dockerfile'