trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- script: |
    cd frontend/
    npm install --legacy-peer-deps --global-style
    npm run build --loglevel verbose
  displayName: 'npm install and build'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: 'frontend/'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: '$(Build.BuildId).zip'
    publishLocation: 'Container'

- task: Docker@2
  inputs:
    containerRegistry: 'DockerVG'
    repository: 'gonzalobordas/frontend'
    command: 'buildAndPush'
    buildContext: 'client/'
    Dockerfile: 'Dockerfiles/frontend.Dockerfile'