div.chat {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    height: 100%;
}

.msg {
    background: #FFFFFF;
    border: 0.72973px solid #E20613;
    border-radius: 0px 41.5946px 41.5946px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 17px 32px;
}

div.chat input {
    height: 80px;
    background: #EEEEEE;
    border-radius: 4px;
    border: none;
    align-self: end;
    padding-left: 16px;
    padding-bottom: 33px;
}

/* div.chat input::placeholder {
    position: relative;
    top: -15px;
    color: black;
    font-weight: 500;
} */