#home {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    font-family: 'Montserrat';
}

iframe {
    border: 0px;
}

#noestassola h3 {
    -webkit-text-stroke: thin;
    margin-top: 16px;
    align-self: flex-start;
    margin-left: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #E20613;
}

#textohome1 {
    -webkit-text-stroke: thin;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
}

.apartados {
    margin: 7px 16px;
    border: 2px solid #E20613;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.apartados div h4 {
    -webkit-text-stroke: thin;
    margin-top: 13px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
}

.apartados div p {
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
}

#salirrapido {
    position: fixed;
    bottom: 8px;
    border: none;
    background-color: #9747FF;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    font-weight: 600;
    padding: 16px;
    right: 16px;
    color: white;
}

#salirrapido:hover,
#salirrapido:active {
    background-color: black;
}

#accesibilidad {
    position: fixed;
    bottom: 68px;
    border: 2px solid black;
    background-color: #D3D3D3;
    font-size: large;
    -webkit-text-stroke: thin;
    padding: 16px;
    left: -57px;
    font-size: 24px;
    height: 80px;
    transform: rotate(-90deg);
}

button.vermas {
    width: fit-content;
    height: 48px;
    align-self: flex-end;
    background-color: #E20613;
    border: none;
    margin-right: 18px;
    margin-bottom: 18px;
    padding: 13px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    -webkit-text-stroke: thin;
    color: #FFFFFF;
}

.apartados.ultimo {
    margin-bottom: 70px;
}

.apartados a {
    display: contents;
}

#home > div:nth-child(1) > div {
    width: 100%;
    height: 200px;
}