#home {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    font-family: 'Montserrat';
}

iframe {
    border: 0px;
}

#noestassola {
    margin-top: 16px;
    align-self: flex-start;
    margin-left: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

#textohome1 {
    text-align: left;
    margin-left: 16px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.apartados {
    margin: 7px 16px;
    background-color: #D3D3D3;
    height: 170px;
    -webkit-text-stroke: thin;
    font-size: 17px;
}

.apartados h4 {
    margin-top: 24px;
    margin-left: 24px;
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
}

#salirrapido {
    position: fixed;
    bottom: 8px;
    border: none;
    background-color: #9747FF;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    font-weight: 600;
    padding: 16px;
    right: 16px;
    color: white;
}

#salirrapido:hover,
#salirrapido:active {
    background-color: black;
}

#accesibilidad {
    position: fixed;
    bottom: 68px;
    border: 2px solid black;
    background-color: #D3D3D3;
    font-size: large;
    -webkit-text-stroke: thin;
    padding: 16px;
    left: -57px;
    font-size: 24px;
    height: 80px;
    transform: rotate(-90deg);
}