.navbarDesktop {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 112.71px;
    align-items: center;
    padding: 0px 60px;
    box-shadow: 0px 1.90476px 3.80952px rgba(0, 0, 0, 0.54);
}

.navbarDesktop .logo {
    height: 36.36px;
    width: 154.28px;
}

.navbarDesktop .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 228px;
    height: 80px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    padding: 0px 5px;
}

.navbarDesktop .link:last-child {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 19.0476px 21.7708px 16.1905px 21.9048px;
    width: 232.68px;
    height: 54.24px;
    background: #E20613;
    color: #fff;
}

@media screen and (max-device-width: 1300px) and (min-device-width: 1100px) {
    .navbarDesktop .link {
       font-size: 16px;;
    }
}
@media screen and (max-device-width: 1099px) and (min-device-width: 900px) {
    .navbarDesktop .link {
       font-size: 14px;;
    }
}
@media screen and (max-device-width: 899px) and (min-device-width: 790px){
    .navbarDesktop .link {
       font-size: 12px;;
    }
}
@media screen and (max-device-width: 789px){
    .navbarDesktop .link {
       font-size: 10px;;
    }
}