#form-voluntarios {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

#form-voluntarios input {
    border: 1px solid #E20613;
    border-radius: 8px;
    height: 40px;
    padding-left: 16px;
    font-style: italic;
    margin-bottom: 24px;
    margin-top: 8px;
}

#form-voluntarios button, #gracias-volver button {
    height: 48px;
    background-color: #E20613;
    border: none;
    margin-bottom: 50px;
    padding: 13px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    -webkit-text-stroke: thin;
    color: #FFFFFF;
}


#form-voluntarios a {
    display: contents;
}

#gracias-volver {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 24px;
}

.options{
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
}

#form-voluntarios .options button.option{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

#form-voluntarios .options button.selected{
    background-color: #E20613;
    color: black;
}
