*{
    margin: 0px;
    padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import './styles/menu.css';
@import './styles/navbar.css';
@import './styles/navbarDesktop.css';
@import './styles/Home.css';
@import './styles/chat.css';
@import './styles/recursos.css';
@import './styles/voluntarios.css';
@import './styles/footer.css';

